$heading-color: rgb(249, 250, 252);

body {
	margin: 0; 
	border: 0;
	font-size: 100%; 
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
	font-size: 10em; 
	padding: 0; 
	text-align: center; 
	clear: both; 
	color: $heading-color; 
	font-family: 'Playfair Display', serif;
	margin: 0; 
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

canvas { 
	display: block; 
	vertical-align: bottom; } 

	#particles-js { 
		position:absolute; 
		width: 100%; 
		height: 100%; 
		background-color: #232741; 
} /* ---- stats.js ---- */ 

.count-particles{ 
	background: #000022; 
	position: absolute; 
	top: 48px; left: 0; 
	width: 80px; 
	color: #13E8E9; 
	font-size: .8em; 
	text-align: left; 
	text-indent: 4px; 
	line-height: 14px; 
	padding-bottom: 2px; 
} 

.js-count-particles{ 
	font-size: 1.1em; 
} 

#stats, .count-particles{ 
	-webkit-user-select: none; 
	margin-top: 5px; 
	margin-left: 5px; 
} 

#stats{ 
	border-radius: 3px 3px 0 0; 
	overflow: hidden; 
} 

.count-particles{ border-radius: 0 0 3px 3px; }

.particles-js-canvas-el {
	height: 100vmax !important;
	z-index: 0;
}



